
<div id="disclaimer-section">
  <p>MiFID II Compliance: This invite is being sent to you as you have access to such J.P. Morgan events. Research (as defined under MiFID II) may be provided at this event and where it is, such research services will be charged separately where you are subject to MiFID II. </p>
  <p>If you do not consider the hospitality component of this event to be an acceptable minor non-monetary benefit and/or would like to make a payment for your attendance, please contact <a href="mailto:emea.events.privacy@jpmorgan.com" target="_blank">jpmorgan.invitation@jpmorgan.com</a> who will be happy to assist. For the avoidance of doubt, where you attend this event on the basis that you do not represent an EEA investment advisor or portfolio manager J.P. Morgan is relying on that fact. </p>
  <p>Recognizing that custom, practice, regulation and laws differ around the world; of JPMorgan Chase & Co. is providing this disclaimer, in the interest of transparency, so that you may consider whether participation in the Global Outlook Conference is permissible under the laws of your home country and internal policies of your organization. By accepting this invitation, of JPMorgan Chase & Co. will understand that you have obtained all necessary approvals to participate in the Global Outlook Conference. </p>
  <p>J.P. Morgan Corporate & Investment Bank Marketing, 25 Bank Street, Floor 30, BS30-3007, Canary Wharf, London E14 5JP, United Kingdom. </p>
  <p>Although this transmission and any links/attachments are believed to be free of any virus or other defect that might affect any computer system into which it is received and opened, it is the responsibility of the recipient to ensure that it is virus free and no responsibility is accepted by JPMorgan Chase & Co., its affiliates, as applicable, for any loss or damage arising in any way from its use. </p>
  <p>© 2021 JPMorgan Chase & Co. All rights reserved. JPMorgan Chase Bank, N.A. Member FDIC. </p>
  <p>Important Reminder: JPMorgan Chase will never send emails that require you to send account information or passwords to us via public email or pop-up windows.</p>
</div>  